.object{
    height: 200px;
    width: 200px;
    background-color: darkblue;
    border-radius: 30%;
    animation-name: object_example;
    animation-duration: 10s;

}

.object:hover {
    height: 400px;
    width: 400px;
    background-color: rgb(42, 225, 210);
    animation-duration: 10s;
}

#small_object {
    height: 50px;
    width:50px;
    background-color: aliceblue;
    border-radius: 30%;
    animation-duration: 10s;
    position: absolute;
    top: 50px;
    left: 50px;
}

#small_object:hover {
    width: 100px;
    height: 100px;
    animation-duration: 10s;
    background-color: yellow;
}
