.object {
    height: 200px;
    width: 200px;
    background-color: darkblue;
    border-radius: 30%
}

#small_object {
    height: 50px;
    width:50px;
    background-color: aliceblue;
    border-radius: 30%;
    position: absolute;
    align-items: center;
}