body {
    background-color: rgb(3, 152, 152);
    background-image: url('traffic\ lights.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    display: grid;
    row-gap: 50px;
    column-gap: 200px;
    background-color: black;
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    border: 12px solid rgb(230, 225, 225);
    box-shadow: 10px 10px 10px 10px #eeee79;
    
    
}

/* ----FIRST TRAFFIC LIGHT STYLES---- */

.box1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #383428;
}


.red {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    place-self: center;
    animation-name: red_light;
    animation-duration: 10s;
    
    
}

.box2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #383428;
        
}

.yellow {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    place-self: center;
    animation-name: yellow_light;
    animation-duration: 6s;
    animation-delay: 7s; 
    
}

.box3 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #383428;
}

.green {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    place-self: center;
    animation-name: green_light;
    animation-delay: 12s;
    animation-duration: 10s;
    
}

/* ----SECOND TRAFFIC LIGHT STYLES---- */

.box2-1 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #383428;
}

.red2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    place-self: center;
    animation-name: red_light;
    animation-duration: 10s;
    animation-delay: 15s;
    
}

.box2-2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #383428;
}

.yellow2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    place-self: center;
    animation-name: yellow_light;
    animation-duration: 5s;
    animation-delay: 0s; 
    
}
    
.box2-3 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #383428;
    }

.green2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    place-self: center;
    animation-name: green_light;
    animation-delay: 4s;
    animation-duration: 10s;
   
    }

    /* ----FIRST AND SECOND TRAFFIC LIGHT COLOR STYLES---- */

@keyframes red_light {
    from {background-color: #808080;}
    to {background-color: #d50202; box-shadow: 10px 10px 10px 10px #d50202;}
    from {scale:1;}
    to {scale: 1.0625;}
}

@keyframes yellow_light {
    from {background-color: #808080;}
    to {background-color: rgba(255, 255, 0, 0.921); box-shadow: 10px 10px 10px 10px rgba(255, 255, 0, 0.921)}
    from {scale:1;}
    to {scale: 1.0625;}
}

@keyframes green_light {
    from {background-color: #808080;}
    to {background-color: rgb(58, 228, 32); box-shadow: 10px 10px 10px 10px rgb(58, 228, 32);}
    from {scale:1;}
    to {scale: 1.0625;}
}
